/* reset */
@charset "UTF-8" ;
* {margin: 0; padding: 0; font-size: 16px;}
li {list-style: none;}
a {color: white; text-decoration: none; font-size: 24px;}
.clearfix::before, .clearfix::after {display: block; content: ''; clear: both;}
img {
    display: block;
  }


#all {
    width: 500px; height: 600px; margin: 0 auto; margin-top: 100px;
    background: #999;
    border: 2px solid black;
}

#Upper {
    position: relative;
    height:100px ;
    background-color: #888;
}

.Upper_left {
    width: 50%;  background: #444; 
    float: left; 
    text-align: center; 
    margin-top: 15px;
} 
.Upper_left_cont1 { }
.Upper_left_cont2 { }

.Upper_right {
    width: 50%;  
    float: left; 
    text-align: right; 
    background: #333; 
    margin-top: 14px;
}
.Upper_right a {
    font-size: 50px;
    margin : 20px;
    
}
    

#Disp {
    width: 500px;height: 500px; 
    position : relative;
    background: blue;
}

#myScore {
    width: 500px; height: 100px;
    position : absolute;
    left : 0 ; top : 289px;
    z-index: 2;
    text-align: center;
    font-size: 30px;
    display: none;
}

#restart{
    position: absolute;
    left : 47% ;
    transform: translate(-50%, -50%);
    z-index: 3;
    top : 400px ;
    width :50% ; height: auto ;  
    display: none;
}

#img01 {background: green;}

#character {
    z-index: 1;
}

#transform_fx {
    width: 500px; height: 500px;
    display: none;
    position : absolute;
    left : 0 ; top : 0 ;

}

#fx01 {}
#fart {
    width: 200px; height: 200px;
    position : absolute;
    left : 320px ; top : 220px ;
    display : block ; 
    }

